<!DOCTYPE html>
<html lang="nl">

<head>
  <% include ../partials/head.ejs %>
</head>

<body id="userprofile">
  <!--Header begin-->
  <header>
    <% include ../partials/nav.ejs %>
  </header>
  <!--Header end-->
  <main>

    <section>
      <!-- <h1>Resultaten</h1> -->
      <ul>
        <li>
          <article>
            <p><a href="/edit"><img src="images/iconen/edit.png" alt="edit icon"></a></p>
              <img src="images/afbeeldingen/userprofile.jpeg" alt="Profiel foto">

            <footer>
              <ul>
                <li>
                  <% users.forEach(function(user){ %>
                  <h1><%=user.first_name %></h1>
                    <% }) %>
                </li>
                <!-- <li>
<button class="favbutton"> Favorieten button </button>
                  <button class="downloadbutton"> Download button </button>
                </li> -->
              </ul>
            </footer>
          </article>
        </li>
      </ul>
    </section>
    <section class="profile-info">
      <article>
        <p>
            <% users.forEach(function(user){ %>
          <b>Leeftijd:</b> 
          <i><%=user.leeftijd %></i>
          <% }) %>
        </p>
        <p>
            <% users.forEach(function(user){ %>
         <b>Volg opleiding:</b> <i><%=user.opleiding %></i>
          <% }) %>
        </p>

<hr />
      </article>
      <article>
        <h2>Over Axel</h2>
        <% users.forEach(function(user){ %>
          
          <p><%=user.overJezelf %></p>
          <% }) %>
<hr />
      </article>

    </section>
    <section>
       <% users.forEach(function(user){ %>
          <i><%=user.first_name %><%=user.leeftijd %><%=user.opleiding %><%=user.overJezelf %> - 
            <a href="/user/delete/" class="deleteUser" data-id="<%= user._id %>"> Wis mijn account </a> </i>
            <% }) %>
    </section>

  </main>
</body>

</html>
