<!DOCTYPE html>
<html lang="nl">

<head>
  <% include ../partials/head.ejs %>
</head>

<body id="userprofile">
  <!--Header begin-->
  <header>
    <% include ../partials/nav.ejs %>
  </header>
  <!--Header end-->
  <main>

    <section>
      <!-- <h1>Resultaten</h1> -->
      <ul>
        <li>
          <article>
            <p><a href="/edit"><img src="images/iconen/edit2.png" alt="edit icon"></a></p>
            <img src="uploads/profile-pic.jpeg" alt="Profiel foto">

            <footer>
              <ul>
                <li>
                  <% users.find(function(users){ %>
                  <h1><%=users.first_name %></h1>
                  <% }) %>
                </li>
                <!-- <li>
<button class="favbutton"> Favorieten button </button>
                  <button class="downloadbutton"> Download button </button>
                </li> -->
              </ul>
            </footer>
          </article>
        </li>
      </ul>
    </section>
    <section class="profile-info">
      <article>
        <p>
          <% users.find(function(users){ %>
          <b>Leeftijd:</b>
          <i><%=users.leeftijd %></i>
          <% }) %>
        </p>
        <p>
          <% users.find(function(users){ %>
          <b>Volg opleiding:</b> <i><%=users.opleiding %></i>
          <% }) %>
        </p>

        <hr />
      </article>
      <article>
        <% users.find(function(users){ %>
        <h2>Over <%=users.first_name %></h2>
        <% }) %>
        <% users.find(function(users){ %>
        <p><%=users.overJezelf %></p>
        <% }) %>
        <hr />
      </article>

    </section>
    <section></section>
    <section class="user_profile_delete">
      <a href=/log-out>Log out</a>
      <hr>
        <h3>Mijn account wissen</h3>
        <a href="/users/delete"> Wis Mijn Account</a>
        

  
      </form>
    </section>

  </main>
</body>

</html>