<!DOCTYPE html>
<html lang="nl">

<head>
  <% include ../partials/head.ejs %>
</head>

<body id="userprofile">
  <!--Header begin-->
  <header>
    <% include ../partials/nav.ejs %>
  </header>
  <!--Header end-->
  <main>

    <section>
      <!-- <h1>Resultaten</h1> -->
      <ul>
        <li>
          <article>
            <p><a href="/edit"><img src="images/iconen/edit2.png" alt="edit icon"></a></p>
            <img src="images/afbeeldingen/userprofile.jpeg" alt="Profiel foto">

            <footer>
              <ul>
                <li>
                  <% users.forEach(function(user){ %>
                  <h1><%=user.first_name %></h1>
                  <% }) %>
                </li>
                <!-- <li>
<button class="favbutton"> Favorieten button </button>
                  <button class="downloadbutton"> Download button </button>
                </li> -->
              </ul>
            </footer>
          </article>
        </li>
      </ul>
    </section>
    <section class="profile-info">
      <article>
        <p>
          <% users.forEach(function(user){ %>
          <b>Leeftijd:</b>
          <i><%=user.leeftijd %></i>
          <% }) %>
        </p>
        <p>
          <% users.forEach(function(user){ %>
          <b>Volg opleiding:</b> <i><%=user.opleiding %></i>
          <% }) %>
        </p>

        <hr />
      </article>
      <article>
        <% users.forEach(function(user){ %>
        <h2>Over <%=user.first_name %></h2>
        <% }) %>
        <% users.forEach(function(user){ %>
        <p><%=user.overJezelf %></p>
        <% }) %>
        <hr />
      </article>

    </section>
    <section class="user_profile_delete">
      
        <h3>Mijn account wissen</h3>
      <form action="/users/delete" id='registeren_form' method="POST">
        

        <button type="submit" value="submit">Wis Mijn Account</button>
      </form>
    </section>

  </main>
</body>

</html>